#This file stores configurable parameters for your bigpond account.

#Working directory where files are downloaded to .Make sure your user has write-access to this directory.
tempDir = ../tmp

#Your bigpond username.
username = your_username@bigpond.com

#Your bigpond password.
password = your_password

#uncomment these 2 lines when you need detailed logging
#detail = true
#log = ../logs/ps.log


